/* toast-styles.css */

/* Default styles for larger screens */
.toastbody {
  width: 100%;
  margin: auto;
  border-radius: 1rem;
  font-size: larger;
  text-align: center;

  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    width: 75%;
    margin: auto;
    border-radius: 1rem;
    font-size: medium;
  }
}
